name: TravelApp - backend

services:
  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
  express:
    build: .
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    environment:
      - IS_DOCKER=true
      - "MONGO_URI=${MONGO_URI}"

volumes:
  mongo-data:
    driver: local