name: travelApp-project-backend

on: 
  push:
    branches:
      - docker-file
  pull_request:
    branches:
      - docker-file

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: travelapp-backend
  IS_CI: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    services:
      mongo: 
        image: mongo:6
        ports:
          - 27017:27017

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with: 
            fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with: 
          node-version: 24
      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: |
          npm test

    
      - name: Login to Docker Hub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN}}

      - name: Generate version and tag
        id: semver
        uses: PaulHatch/semantic-version@v5.4.0
        with:
          tag_prefix: "v"
          default_bump: "patch"
          create_annotated_tag: true
          github_token: ${{ secrets.GITHUB_TOKEN}}
        
      - name: Display new version
        run: echo "The new version is ${{ steps.semver.outputs.version}}"